.search {
  margin: 0.1rem 1rem;
}

.search-input {
  height: 1.8rem;
  font-size: 1rem;
  padding: 0.3% 1%;
  border-radius: 8px;
  border: none;
}

.search label {
  font-size: 1.1rem;
  color: white;
}
